.home-container {
  max-width: 800px;
  margin: auto;
  padding: 40px;
  text-align: center;
  background: url('/public/bg.png') no-repeat center center;
  background-size: cover;
  border-radius: 15px; /* Optional: if you want rounded corners */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Optional: for a subtle shadow */
  color: #f0f2f5; /* Light text color for better contrast */
  margin-top: 15vh;
  height: 60vh;
}

.homepage-title {
  font-size: 36px;
  color: #125360; /* White color for the headline */
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif; /* Example font */
}

.homepage-subtitle {
  font-size: 24px;
  color: #34495E; /* Light grey for the sub-headline */
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  height: 10vh;
}

.homepage-description {
  font-size: 20px;
  color: #17202A; /* Similar to subtitle but slightly darker */
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif; /* Example font */
}

.create-button {
  font-size: 19px;
  background-color: #34495E; /* A color that stands out but complements the background */
  /* border-color: #5cabff; */
  color: white;
  border-radius: 20px; /* Rounded button edges */
  /* padding: 10px 20px; */
  font-family: 'Lato', sans-serif;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  height: 6vh;
}

/* Responsive styling for smaller screens */
@media (max-width: 600px) {
  .home-container {
    padding: 20px;
  }

  .homepage-title {
    font-size: 28px;
  }

  .homepage-subtitle {
    font-size: 20px;
  }

  .create-button {
    width: 100%;
  }
}
